# =========================
# Build artifacts (SARndbox)
# =========================
bin/
d/
*.o
*.so
*.a
*.d

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.bak
*.autosave
